/*.colorCircles{*/
/*    margin: 20px;*/
/*    !*padding: 100em;*!*/
/*    !*justify-content: space-between;*!*/
/*}*/

/*h1 {*/
/*    margin: 30px;*/
/*    !*margin-top: none;*!*/
/*}*/
#navColor {
    border: #f0f0f0;
    padding: 15px;
    background: #f0f0f0;
    background-clip: content-box;
}

.mainCir *{
    margin: 0.5em;
    border: 5px solid white;
}

.circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    /*height: 125px;*/
    border-radius: 5em;
    color: #fff;
    background-color: #e5563a;
}
.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    /*height: 125px;*/
    border-radius: 5em;
    color: #fff;
    background-color: #eb9c3b;
}
.circle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    /*height: 125px;*/
    border-radius: 5em;
    color: #fff;
    background-color: #7bb06c;
}
.circle4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    /*height: 125px;*/
    border-radius: 5em;
    color: #fff;
    background-color: #00aaa9;
}